*.aux
*.bbl
*.blg
*.aux
*.nav
*.out
*.log
*.snm
*.backup
*.directory
*.toc
*.vrb
_minted*
CI.pdf
bin/
.recommenders/
.metadata/
build/
.gradle/
*.synctex.gz
workspace/01-dependencies/src/main/resources/TheTVDBAPIKey
lab/
*.zip
